
.block {margin: 0 auto; width: 768px;}

table {margin: 0 auto ;}
h1 {text-align: center;}
.title{background-color: #ccc;}
.category{font-weight: bold;}
*[male] {color: blue;}
*[female] {color: red;}
.content a:link {color: #0000FF;}
.content a:visited {color:  #0000FF;}
.content a:hover {color: #FF0000;}

.oneline img{
	width: 200px; height: 150px;
	
	margin-right: 360px;
}

.oneline {
	float: left;

}



#banner {
	position: relative; 
	width: 768px;
	height: 30px;
	background-color: #ccc;
	margin: 0 auto; 
	margin-bottom: 30px;
}

#banner a{
	text-decoration: none;
}

#banner ul{
	list-style-type: none;

}

#banner ul li { 
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
	display: inline; 
} 

#banner ul li ul{

	width: 150px;
	background-color: #ccc;

	margin-left: 50px;
}

#banner ul li ul li{
	font-weight: bold;
	font-style: normal;
	font-size: 15px;
	display: block;
}

li:hover ul{display: block;}


.banner ul{
	display: none;
}
